.custom-container {
    width: 85%;
    margin: auto;
}
h1 {
    font-size: $title-font-size;
}
h2 {
    font-size: $sub-title-font-size;
}
.home-para {
    font-size: $body-font-size;
}
.title-line-height {
    line-height: 4rem;
}