body {
    background-color: #e6f7ff;
}
.result-inside-card {
    padding: 20px; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 15px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); 
    text-align: center;
}